<MudGrid>
    <MudItem xs="12">
        <MudText Typo="Typo.h4">
            <b>
                @ContentService["Home:Contact"]
            </b>
        </MudText>
    </MudItem>
    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="12" sm="6" md="3">
                <MudGrid>
                    <MudItem xs="12">
                        <MudCard Class="rounded-lg mud-elevation-4">
                            <MudCardContent>
                                <div class="d-flex flex-grow-1">
                                    <div class="flex-none d-flex ">
                                        <MudIcon Icon="@Icons.Material.Filled.Place" Size="Size.Large"/>
                                    </div>
                                    <div class="flex-initial d-flex ">
                                        <MudText Typo="Typo.h5" Style="padding-top: 3px;">
                                            <b>@ContentService["Home:Address"]</b>
                                        </MudText>
                                    </div>
                                </div>
                                <br/>
                                <MudText>@ContentService["Home:Address_p1"]</MudText>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                   
                    <MudItem xs="12">
                        <a Href="mailto:@ContentService["Home:EmailLink"]" Target="_blank">
                            <MudCard Class="rounded-lg mud-elevation-4">
                                <MudCardContent>
                                    <div class="d-flex flex-grow-1">
                                        <div class="flex-none d-flex ">
                                            <MudIcon Icon="@Icons.Material.Filled.Mail" Size="Size.Large"/>
                                        </div>
                                        <div class="flex-initial d-flex ">
                                            <MudText Typo="Typo.h5" Style="padding-top: 3px;">
                                                <b> @ContentService["Home:Email"]</b>
                                            </MudText>
                                        </div>
                                    </div>
                                    <MudText> @ContentService["Home:EmailLink"]</MudText>
                                </MudCardContent>
                            </MudCard>
                        </a>
                    </MudItem>
                </MudGrid>
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudGrid>
                    <MudItem xs="12">
                            <a href="https://www.facebook.com/profile.php?id=100056064293362&ref=xav_ig_profile_web" target="_blank">
                            <MudCard Class="rounded-lg mud-elevation-4">
                                <MudCardContent>
                                    <div class="d-flex flex-grow-1">
                                        <div class="flex-none d-flex ">
                                            <MudIcon Icon="@Icons.Custom.Brands.Facebook" Size="Size.Large"/>
                                        </div>
                                        <div class="flex-initial d-flex ">
                                            <MudText Typo="Typo.h6" Style="padding-top: 3px;">
                                                <b>Facebook</b>
                                            </MudText>
                                        </div>
                                    </div>
                                </MudCardContent>
                            </MudCard>
                        </a>
                    </MudItem>
                    <MudItem xs="12">
                            <a href="https://t.me/ubaydulloev1104" target="_blank">
                            <MudCard Class="rounded-lg mud-elevation-4">
                                <MudCardContent>
                                    <div class="d-flex flex-grow-1">
                                        <div class="flex-none d-flex ">
                                            <MudIcon Icon="@Icons.Custom.Brands.Telegram" Size="Size.Large"/>
                                        </div>
                                        <div class="flex-initial d-flex ">
                                            <MudText Typo="Typo.h6" Style="padding-top: 3px;">
                                                <b>Telegram</b>
                                            </MudText>
                                        </div>
                                    </div>
                                </MudCardContent>
                            </MudCard>
                        </a>
                    </MudItem>
                    <MudItem xs="12">
                            <a href="https://www.instagram.com/ubaydulloev.1104/" target="_blank">
                            <MudCard Class="rounded-lg mud-elevation-4">
                                <MudCardContent>
                                    <div class="d-flex flex-grow-1">
                                        <div class="flex-none d-flex ">
                                            <MudIcon Icon="@Icons.Custom.Brands.Instagram" Size="Size.Large"/>
                                        </div>
                                        <div class="flex-initial d-flex ">
                                            <MudText Typo="Typo.h6" Style="padding-top: 3px;">
                                                <b>Instagram</b>
                                            </MudText>
                                        </div>
                                    </div>
                                </MudCardContent>
                            </MudCard>
                        </a>
                    </MudItem>
                   
                </MudGrid>
            </MudItem>
           
        </MudGrid>
    </MudItem>
</MudGrid>


@code {
    
}